#

In [2]:
###  EX 2

name=input("Please enter your name ")
lastName=input("Please enter your Last name")
print("Hiii", name, lastName)

Hiii Lilit Hakobyan

In [3]:
###  EX 3

width=float(input("width : "))
length=float(input("Length : "))
area=width*length
print("The area of the room is : ", area, "m²")

The area of the room is :  72.0 m²

In [4]:
## EX5
nbSmall=int(input("<=1L :"))
nbBig=int(input(">1L : "))
total=nbSmall*0.1+nbBig*0.25
print("the total refund is : ", total, "$")

the total refund is :  2.65 $

In [11]:
## EX 6
cost=float(input("Please enter the cost of the meal"))
tax=cost*0.2 
tip=cost*0.18
total=cost+tax+tip
print(" Tax: ",tax,"\n","Tip : ",round(tip,2),"\n","Total : ", total)

 Tax:  12.0
 Tip :  10.8
 Total :  82.8

In [12]:
### EX 7
n=int(input("Enter positive integer"))
sum=n*(n+1)/2
print("The sum from 1 to ",n," is", sum)

The sum from 1 to  6  is 21.0

In [15]:
##EX 8
nbW=int(input("The number of widgets"))
nbG=int(input("The number of gizmos"))
totalWeight=nbW*75+nbG*112
print(f"The total weight for {nbW} widgets and {nbG} gizmos is : ", totalWeight,"g")

The total weight for 10 widgets and 5 gizmos is :  1310 g

In [21]:
## EX 9
deposit=float(input("deposit :"))
s1=deposit*1.04
s2=s1*1.04
s3=s2*1.04
print("1st year :", s1, "2nd year :", f"{s2:.2f}", "3rd year :", f"{s3:.2f}")

1st year : 2080.0 2nd year : 2163.20 3rd year : 2249.73

In [22]:
##11
mpg=float(input("Enter MPG"))
print(mpg, "mpg =", mpg*235.215,"L/100")

20.0 mpg = 4704.3 L/100

In [23]:
## 12
import math
lat1=float(input("t1"))
lat2=float(input("t2"))
lon1=float(input("g1"))
lon2=float(input("g2"))

t1 = math.radians(lat1)
g1 = math.radians(lon1)
t2 = math.radians(lat2)
g2 = math.radians(lon2)
distance = 6371.01 * math.acos(
    math.sin(t1) * math.sin(t2) +
    math.cos(t1) * math.cos(t2) * math.cos(g1 - g2)
)
print(f"The distance between the two points is {distance:.2f} kilometers.")
#distance=6371.01*math.acos(math.sin(t1)*math.sin(t2)+math.cos(t1)*math.cos(g1-g2))
#print(distance)

The distance between the two points is 4715.34 kilometers.

In [30]:
## EX 14

foot=int(input("foot : "))
inches=int(input("inches : "))
#cm=foot*12*2.54+inches*2.54
cm=2.54*(foot*12+inches)
print(f"{foot} ft {inches}\" height in cm : {cm:.2f} cm")

5 ft 6" height in cm : 167.64 cm

In [31]:
#EX 16
r=int(input("Enter the radius"))
area=math.pi*r**2
volume=4/3*math.pi*r**3

print(f" Area : {area:.4f}\n Volume : {volume:.4f}")

 Area : 50.2655
 Volume : 268.0826

In [34]:
##EX 22
import math
s1=int(input("side 1 "))
s2=int(input("side 2 "))
s3=int(input("side 3 "))
s=s1+s2+s3
area=math.sqrt(s*(s-s1)*(s-s2)*(s-s3))
print(f"The are is {area:.3f}")

The are is 628.446

In [38]:
#Ex 24
s=int(input("seconds :"))
m=int(input("minutes :"))
h=int(input("hours :"))
d=int(input("days :"))

totalSeconds=s+60*m+3600*h+24*3600*d
print(f"{totalSeconds} seconds")

179524 seconds

In [39]:
##EX25

seconds=int(input("Seconds"))
sDay=86400
sHour=3600
sMinute=60

day=seconds//sDay
seconds=seconds%sDay
hour=seconds//sHour
seconds=seconds%sHour
minute=seconds//sMinute
seconds=seconds%sMinute
print(f" {day}d:{hour:02d}h:{minute}m:{seconds}s")

 0d:15h:49m:45s

In [41]:
#EX 27

year=int(input("Year"))
a=year%19
b=year//100
c=year%100
d=b//4
e=b%4
f=(b+8)//25
g=(b-f+1)//3
h=(19*a+b-d-g+15)%30
i=c//4
k=c%4
l=(32+2*e+2*i-h-k)%7
m=(a+11*h+22*l)//451
month=(h+l-7*m+114)//31
day=(h+l-7*m+114)%31

print(f"month : {month}, day : {day}")

month : 4, day : 7

In [43]:
#ex32
a=int(input("a"))
d1=a//1000
a=a%1000
d2=a//100
a=a%100
d3=a//10
a=a%10

digSum=d1+d2+d3+a
print(d1, d2, d3, a)
print(digSum)

2 5 6 9
22

In [46]:
#ex 35
nb=int(input("Enter a number"))
res='even'
if nb%2==1 :
    res='odd'
print(f"{nb} is an {res} number")

5 is an odd number

In [52]:
#ex36
hy=int(input("Enter human age"))

if hy<0 :
    print("Age can't be negative")
if hy<=2 : 
    dy=hy*10.5
else:
    dy=21+(hy-2)*4
print(f"For {hy} years the  dog age will be  : ", dy)

For 3 years the  dog age will be  :  25

In [53]:
#ex37
vowels=('a','e','i','o','u')
letter=input("Enter a letter")
if letter in vowels:
    print("The letter is vowel")
elif letter=='y':
    print("sometimes y is a vowel, and sometimes y is a consonant")
else :
    print("The letter is consonant")

The letter is vowel

In [55]:
#ex39
month=input("Enter the name of month")

m31=('january', 'march','may', 'july', 'august','october', 'december')
m30=('april','june', 'september', 'november')

if month in m31 :
    print(f"31 days in {month}")
elif month in m30 :
    print(f"30 days in {month}")
elif month=='february' :
    print("28 or 29 days")
else :
    print("no such month")

31 days in july

In [60]:
#ex 42
name=input("Enter the note")
note=name[0]
octave=int(name[1])

hzC4=264.33
hzD4=293.66
hzE4=329.63
hzF4=349.23
hzG4=392.00
hzA4=440.00
hzB4=493.88

match (note) : 
    case 'C':
        hz=hzC4
    case 'D':
        hz=hzD4
    case 'E' :
        hz=hzE4
    case 'F':
        hz=hzF4
    case 'G':
        hz=hzG4
    case 'A':
        hz=hzA4
    case 'B':
        hz=hzB4
    case _: 
        hz="incorrect"
        
hz=hz/2**(4-octave)
print(f"{name} {hz} hz")

D4 293.66 hz

In [62]:
##EX 65

for c in range(0,101,10):
    f=32+(c*9/5)
    print(f"{c}°C = {f} °F")

0°C = 32.0 °F
10°C = 50.0 °F
20°C = 68.0 °F
30°C = 86.0 °F
40°C = 104.0 °F
50°C = 122.0 °F
60°C = 140.0 °F
70°C = 158.0 °F
80°C = 176.0 °F
90°C = 194.0 °F
100°C = 212.0 °F

In [68]:
## ex 69
cost=0
text=input("Enter the age of the guest")
while text!="":
    age=int(text)
    print(age,'y')
    if int(age)>=65:
        cost=cost+18
        #print(cost)
    elif int(age)>=12:
        cost=cost+23
        #print(cost)
    elif int(age)>2 :
        cost=cost+14
        #print(cost)
    text=input("Enter the age of the guest")

print(f"the cost for all guests will be {cost} $")

11 y
2 y
68 y
the cost for all guests will be 32 $

In [71]:
#EX81
binary=input("Enter binary number")
decimal=0
count=0
for i in reversed(binary):
    decimal=decimal+2**count*int(i)
    count+=1
    #print(count, decimal)
print(f"{binary} = {decimal}")

10001101 = 141

In [72]:
#EX 83
import random

max=random.randint(1,100)
update=0
for i in range(100):
    nb=random.randint(1,100)
    if nb>max:
        max=nb
        update+=1
        print(f"{nb} <== Update")
    else:
        print(nb)
print("The maximum value found was", max)
print(f"The maximum value was updated {update} times")

24
99 <== Update
52
19
34
94
15
63
45
47
64
100 <== Update
43
61
14
89
48
18
65
82
96
52
83
16
1
83
56
41
56
76
18
62
52
79
19
95
66
61
72
3
20
64
90
17
87
15
92
61
15
78
1
76
83
57
15
28
48
40
51
25
26
62
80
70
70
16
86
50
81
69
31
90
14
1
83
32
45
70
17
26
27
47
5
11
99
58
47
24
89
3
77
71
30
38
27
8
16
70
72
3
The maximum value found was 100
The maximum value was updated 2 times

In [73]:
#ex 84
import random

sumFlips=0

for i in range(10):
    c=""
    flips=0
    while ('HHH' not in c) and ('TTT' not in c):
        r=random.randint(1,2)
        flips+=1
        if r==1:
            c=c+"H"
        else:
            c=c+"T"
    sumFlips=sumFlips+flips  
    print(f"{c} ({flips} flips)")
print(f"On average, {sumFlips/10} flips were needed")

TTT (3 flips)
HHH (3 flips)
THTTHTTHHH (10 flips)
HTTT (4 flips)
TTT (3 flips)
TTT (3 flips)
TTT (3 flips)
THTTT (5 flips)
TTT (3 flips)
THHTTHTHHTHHTHTTT (17 flips)
On average, 5.4 flips were needed

In [76]:
#### ex 110
myList=[]
text=input("Enter integers: ")
while text!="0":
    val=int(text)
    myList.append(val)
    text=input("Enter integers: ")
myList.reverse()
print(myList)

[4, 3, 2, 1]

In [77]:
#EX 113
words=[]
text=input("Type words: ")
while text!="":
    if text not in words:
        words.append(text)
    text=input("Enter integers: ")
print(words)

['blabla', 'salut', 'barev', 'hello']

In [78]:
#ex 117
def delPunctMarks(text):  
    wordsList=text.split()
    pMarks=[',', '.', '?', '!', ':', ';']
    for i, word in enumerate(wordsList):
        for letter in word:
            if letter in pMarks:
                #wordList.index('word')
                word=word.replace(letter,'')
                #print(word)
                wordsList[i]=word
    textNew=' '.join(wordsList)
    return(textNew)
    
text="Lorem, ipsum. dolor! si?t a?met, con:sec:tetur adi:pis:cing elit,"
delPunctMarks(text)

'Lorem ipsum dolor sit amet consectetur adipiscing elit'

In [393]:
#145
def scrScore(word):
    scores={"1":('A','E','I','L','N','O','R','S','T','U'),
            "2":('D','G'),
            "3":('B','C','M','P'),
            "4":('F','H','V','W','Y'),
            "5":('K'),
            "8":('J','X'),
            "10":('Q','Z')
           }
    score=0

    for c in word:
        for i, j in scores.items():
    #print(i,obj)
            for car in j:
        #print(j)
                if car==c:
                    score=score+int(i)
    return score

scrScore("FHAD")

11