In [1]:
name = input("Enter your name: ")

Enter your name:  hhhhh

In [6]:
price = float(input("Cost per item? "))

Cost per item?  89

In [13]:
first=input("Your name? ")
length=len(first)
print("Your name contains", length, "characters")

Your name?  lilit

Your name contains 5 characters

In [19]:
###  EX 2

name=input("Please enter your name ")
lastName=input("Please enter your Last name")
print("Hiii", name, lastName)

Please enter your name  lilit
Please enter your Last name hhhhhhh

Hiii lilit hhhhhhh

In [32]:
###  EX 3

width=float(input("width : "))
length=float(input("Length : "))
area=width*length
print("The area of the room is : ", area, "m²")

width :  10
Length :  10

The area of the room is :  100.0 m²

In [36]:
## EX5
nbSmall=int(input("<=1L :"))
nbBig=int(input(">1L : "))
total=nbSmall*0.1+nbBig*0.25
print("the total refund is : ", total, "$")

<=1L : 2
>1L :  1

the total refund is :  0.45 $

In [46]:
## EX 6
cost=float(input("Please enter the cost of the meal"))
tax=cost*0.2 
tip=cost*0.18
total=cost+tax+tip
print("Tax: ",tax,"\n","Tip : ",tip,"\n","Total : ", total)

Please enter the cost of the meal 100

Tax:  20.0
 Tip :  18.0
 Total :  138.0

In [52]:
### EX 7
n=int(input("Enter positive integer"))
sum=n*(n+1)/2
print("The sum from 1 to ",n," is", sum)

Enter positive integer 10

The sum from 1 to  10  is 55.0

In [70]:
##EX 8
nbW=int(input("The number of widgets"))
nbG=int(input("The number of gizmos"))
totalWeight=nbW*75+nbG*112
print("The totla weight is : ", totalWeight,"g")

The number of widgets 1
The number of gizmos 1

The totla weight is :  187 g

In [78]:
## EX 9
deposit=float(input("deposit :"))
s1=deposit*1.04
s2=s1*1.04
s3=s2*1.04
print("1st year :", s1, "2nd year :", s2, "3rd year :", s3)

deposit : 100

1st year : 104.0 2nd year : 108.16 3rd year : 112.4864

In [84]:
##11
mpg=float(input("Enter MPG"))
print(mpg, "mpg =", mpg*235.215,"L/100")

Enter MPG 10

10.0 mpg = 2352.15 L/100

Enter the amount of cents 860

2€ 4 | 1€ 0

In [19]:
## 12
import math
lat1=float(input("t1"))
lat2=float(input("t2"))
lon1=float(input("g1"))
lon2=float(input("g2"))

t1 = math.radians(lat1)
g1 = math.radians(lon1)
t2 = math.radians(lat2)
g2 = math.radians(lon2)
distance = 6371.01 * math.acos(
    math.sin(t1) * math.sin(t2) +
    math.cos(t1) * math.cos(t2) * math.cos(g1 - g2)
)
print(f"The distance between the two points is {distance:.2f} kilometers.")
#distance=6371.01*math.acos(math.sin(t1)*math.sin(t2)+math.cos(t1)*math.cos(g1-g2))
#print(distance)

t1 78
t2 45
g1 15
g2 45

The distance between the two points is 3893.80 kilometers.

In [23]:
## ex 13

c1=1
c2=2
c5=5
c10=10
c20=20
c50=50
e1=100
e2=200
cents=int(input("Enter the amount of cents"))
countE2=cents//200
countE1=cents%e2//100

print(f"2€ {countE2} | 1€ {countE1}")

Enter the amount of cents 5235

2€ 26 | 1€ 0

In [33]:
## EX 14

foot=int(input("foot : "))
inches=int(input("inches : "))
#cm=foot*12*2.54+inches*2.54
cm=2.54*(foot*12+inches)
print(f"height in cm : {cm} cm")

foot :  12
inches :  4

height in cm : 375.92 cm

In [53]:
#EX 16
r=int(input("Enter the radius"))
area=math.pi*r**2
volume=4/3*math.pi*r**3

print(f" Area : {area:.4f}\n Volume : {volume:.4f}")

Enter the radius 4

 Area : 50.2655
 Volume : 268.0826

In [55]:
##EX 22
import math
s1=int(input("side 1 "))
s2=int(input("side 2 "))
s3=int(input("side 3 "))
s=s1+s2+s3
area=math.sqrt(s*(s-s1)*(s-s2)*(s-s3))
print(area)

side 1  12
side 2  45
side 3  47

5672.493631552176

In [57]:
#Ex 24
s=int(input("seconds :"))
m=int(input("minutes :"))
h=int(input("hours :"))
d=int(input("days :"))

totalSeconds=s+60*m+3600*h+24*3600*d
print(totalSeconds)

seconds : 7
minutes : 4
hours : 5
days : 1

104647

In [93]:
##EX25

seconds=int(input("Seconds"))
sDay=86400
sHour=3600
sMinute=60

day=seconds//sDay
seconds=seconds%sDay
hour=seconds//sHour
seconds=seconds%sHour
minute=seconds//sMinute
seconds=seconds%sMinute
print(f" {day}d:{hour:02d}h:{minute}m:{seconds}s")

Seconds 5555

 0d:01h:32m:35s

In [101]:
#EX26 
import time
time.asctime()

'Thu Oct 17 10:52:24 2024'

In [113]:
#EX 27

year=int(input("Year"))
a=year%19
b=year//100
c=year%100
d=b//4
e=b%4
f=(b+8)//25
g=(b-f+1)//3
h=(19*a+b-d-g+15)%30
i=c//4
k=c%4
l=(32+2*e+2*i-h-k)%7
m=(a+11*h+22*l)//451
month=(h+l-7*m+114)//31
day=(h+l-7*m+114)%31

print(f"month : {month}, day : {day}")

Year 2025

month : 4, day : 19

In [135]:
#ex32
a=int(input("a"))
d1=a//1000
a=a%1000
d2=a//100
a=a%100
d3=a//10
a=a%10

digSum=d1+d2+d3+a
print(d1, d2, d3, a)
print(digSum)

a 1234

1 2 3 4
10

In [141]:
#ex 35
nb=int(input("Enter a number"))
res='even'
if nb%2==1 :
    res='odd'
print(res)

Enter a number 0

even

In [165]:
#ex36
hy=int(input("Enter human age"))

if hy<0 :
    print("Age can't be negative")
if hy<=2 : 
    dy=hy*10.5
else:
    dy=21+(hy-2)*4
print("Dog age is : ", dy)

Enter human age 5

Dog age is :  33

In [183]:
#ex37
vowels=('a','e','i','o','u')
letter=input("Enter a letter")
if letter in vowels:
    print("The letter is vowel")
elif letter=='y':
    print("sometimes y is a vowel, and sometimes y is a consonant")
else :
    print("The letter is consonant")

Enter a letter O

The letter is consonant

In [191]:
#ex39
month=input("Enter the name of month")

m31=('january', 'march','may', 'july', 'august','october', 'december')
m30=('april','june', 'september', 'november')

if month in m31 :
    print("31 days")
elif month in m30 :
    print("30 days")
elif month=='february' :
    print("28 or 29 days")
else :
    print("no such month")

Enter the name of month april

30 days

In [201]:
#ex 42
name=input("Enter the note")
note=name[0]
octave=int(name[1])

hzC4=264.33
hzD4=293.66
hzE4=329.63
hzF4=349.23
hzG4=392.00
hzA4=440.00
hzB4=493.88

match (note) : 
    case 'C':
        hz=hzC4
    case 'D':
        hz=hzD4
    case 'E' :
        hz=hzE4
    case 'F':
        hz=hzF4
    case 'G':
        hz=hzG4
    case 'A':
        hz=hzA4
    case 'B':
        hz=hzB4
    case _: 
        hz="incorrect"
        
hz=hz/2**(4-octave)
print(hz)

Enter the note C5

528.66

In [4]:
x=int(input("number"))
while x!= 0:
    if x>0:
        print("positive")
    else:
        print("negative")
    x=int(input("number"))

number 2

positive

number -2

negative

number 0

In [10]:
limit = int(input("Enter an integer: "))
print("The multiples of 3 up to and including", limit, "are:")
for i in range(3, limit + 1, 3):
    print(i)

Enter an integer:  12

The multiples of 3 up to and including 12 are:
3
6
9
12

In [14]:
message = input("Enter a message (blank to quit): ")
# Loop until the message is a blank line
while message != "":
# Read the number of times the message should be displayed
    n = int(input("How many times should it be repeated? "))
# Display the message the number of times requested
    for i in range(n):
        print(message)
# Read the next message from the user
    message = input("Enter a message (blank to quit): ")

Enter a message (blank to quit):  HHHHH
How many times should it be repeated?  2

HHHHH
HHHHH

Enter a message (blank to quit):  HHHH
How many times should it be repeated?  6

HHHH
HHHH
HHHH
HHHH
HHHH
HHHH

Enter a message (blank to quit):

In [67]:
val = float(input("Enter a number (0 to stop): "))
sum=val
count=1
#val=0
while val!=0 :
    val = float(input("Enter a number (0 to stop): "))    
    sum=sum+val
    count=count+1
    #print(sum)
    #print(count)
    
print(sum/(count-1))

Enter a number (0 to stop):  2
Enter a number (0 to stop):  2

4.0
2

Enter a number (0 to stop):  2

6.0
3

Enter a number (0 to stop):  2

8.0
4

Enter a number (0 to stop):  0

8.0
5
2.0
toto

In [71]:
##EX 65

# ( °C × 9/5) + 32 =  °F
for c in range(0,101,10):
    f=32+(c*9/5)
    print(f"{c}°C = {f} °F")

0°C = 32.0 °F
10°C = 50.0 °F
20°C = 68.0 °F
30°C = 86.0 °F
40°C = 104.0 °F
50°C = 122.0 °F
60°C = 140.0 °F
70°C = 158.0 °F
80°C = 176.0 °F
90°C = 194.0 °F
100°C = 212.0 °F

In [98]:
## ex 69
cost=0
text=input("Enter the age of the guest")
while text!="":
    age=int(text)
    print(age)
    if int(age)>=65:
        cost=cost+18
        print(cost)
    elif int(age)>=12:
        cost=cost+23
        print(cost)
    elif int(age)>2 :
        cost=cost+14
        print(cost)
    text=input("Enter the age of the guest")

print(cost)

Enter the age of the guest 55

55
23

Enter the age of the guest 55

55
46

Enter the age of the guest 1

1

Enter the age of the guest 3

3
60

Enter the age of the guest

60

In [138]:
#EX81
binary=input("Enter binary number")
decimal=0
count=0
for i in reversed(binary):
    decimal=decimal+2**count*int(i)
    count+=1
    #print(count, decimal)
print(decimal)

Enter binary number 010101010101101

1 1
2 1
3 5
4 13
5 13
6 45
7 45
8 173
9 173
10 685
11 685
12 2733
13 2733
14 10925
15 10925
10925

In [102]:
#EX 82

0

In [158]:
import random

a=[]
for i in range(10):
    a.append(random.randint(1,100))
print(a)

[73, 40, 42, 78, 50, 63, 2, 96, 66, 15]

In [156]:
#EX 83
import random

max=random.randint(1,100)
update=0
for i in range(100):
    nb=random.randint(1,100)
    if nb>max:
        max=nb
        update+=1
        print(f"{nb} <== Update")
    else:
        print(nb)
print("The maximum value found was", max)
print(f"The maximum value was updated {update} times")

2
55 <== Update
99 <== Update
63
43
82
43
25
29
35
89
64
39
98
47
94
100 <== Update
6
68
23
56
98
11
12
2
58
82
45
39
73
30
73
97
9
6
45
15
88
47
70
20
31
45
59
67
91
82
87
93
31
84
96
54
6
19
28
35
44
70
6
88
28
56
64
73
16
71
28
43
18
28
26
45
62
81
87
86
30
57
31
88
45
57
21
12
42
75
80
7
25
80
60
57
26
99
24
7
21
23
13
The maximum value found was 100
The maximum value was updated 3 times

In [337]:
#ex 84
import random

sumFlips=0

for i in range(10):
    c=""
    flips=0
    while ('HHH' not in c) and ('TTT' not in c):
        r=random.randint(1,2)
        flips+=1
        if r==1:
            c=c+"H"
        else:
            c=c+"T"
    sumFlips=sumFlips+flips  
    print(f"{c} ({flips} flips)")
print(f"On average, {sumFlips/10} flips were needed")

THHH (4 flips)
HTTHTHHH (8 flips)
HTHTHTTT (8 flips)
HTTHTTHTHHH (11 flips)
HTTHTTHHH (9 flips)
HTHTTHTHHTTHHH (14 flips)
HTHTTT (6 flips)
HTHHH (5 flips)
HTTHTTT (7 flips)
HTTHTHHTTT (10 flips)
On average, 8.2 flips were needed

In [287]:
a='HHH'
b='TTT'
ch='hjgjgggTTTkjhkhTThgjhT'
print(a not in ch)
print(b not in ch)

True
False

In [307]:
def drawBox():
    print("********")
    print("*      *")
    print("*      *")
    print("********")
drawBox()

********
*      *
*      *
********

In [315]:
def drawBox2(width, height):
    if width<2 or height <2:
        print("too small")
        quit()
    print("*"*width)
    for i in range(height-2) :
        print("*"+" "*(width-2)+"*")
    print("*"*width)
drawBox2(10,4)
drawBox2(20,11)

**********
*        *
*        *
**********
********************
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
********************

In [325]:
def drawBox3(width, height,outline, fill):
    if width<2 or height <2:
        print("too small")
        quit()
    print(outline*width)
    for i in range(height-2) :
        print(outline+fill*(width-2)+outline)
    print(outline*width)
drawBox3(14,10,"*","/")

**************
*////////////*
*////////////*
*////////////*
*////////////*
*////////////*
*////////////*
*////////////*
*////////////*
**************

In [14]:
#### ex 110
myList=[]
text=input("Enter integers: ")
while text!="0":
    val=int(text)
    myList.append(val)
    text=input("Enter integers: ")
#myList.sort()
myList.reverse()
print(myList)

Enter integers:  1
Enter integers:  2
Enter integers:  3
Enter integers:  0

[3, 2, 1]

In [32]:
#EX 113
words=[]
text=input("Type words: ")
while text!="":
    if text not in words:
        words.append(text)
    text=input("Enter integers: ")
print(words)

Type words:  q
Enter integers:  h
Enter integers:  q
Enter integers:  h
Enter integers:  g
Enter integers:  g
Enter integers:  h
Enter integers:

['q', 'h', 'g']

True

In [117]:
#ex 117
def delPunctMarks(text):  
    wordsList=text.split()
    pMarks=[',', '.', '?', '!', ':', ';']
    for i, word in enumerate(wordsList):
        for letter in word:
            if letter in pMarks:
                #wordList.index('word')
                word=word.replace(letter,'')
                #print(word)
                wordsList[i]=word
    textNew=' '.join(wordsList)
    return(textNew)
    
text="Lorem, ipsum. dolor! si?t a?met, con:sec:tetur adi:pis:cing elit,"
delPunctMarks(text)

'Lorem ipsum dolor sit amet consectetur adipiscing elit'

In [99]:
text="Lorem, ipsum. dolor! si?t a?met, con:sec:tetur adi:pis:cing elit,"
wordsList=text.split()
pMarks=[',', '.', '?', '!', ':', ';']
for i, word in enumerate(wordsList):
    for letter in word:
        if letter in pMarks:
            #wordList.index('word')
            word=word.replace(letter,'')
            #print(word)
            wordsList[i]=word
print(wordsList)

['Lorem', 'ipsum', 'dolor', 'sit', 'amet', 'consectetur', 'adipiscing', 'elit']

In [81]:
text="shghd, hgd jhje, hjhe. hheeh hheh, kk"
wordsList=text.split()
print(wordsList)
pMarks=[',', '.', '?', '!', ':', ';']
for word in wordsList:
    word=word.replace(',','')
    print(word)
print(wordsList)

['shghd,', 'hgd', 'jhje,', 'hjhe.', 'hheeh', 'hheh,', 'kk']
shghd
hgd
jhje
hjhe.
hheeh
hheh
kk
['shghd,', 'hgd', 'jhje,', 'hjhe.', 'hheeh', 'hheh,', 'kk']

In [79]:
w="shghd,"
w.replace(',','')
print(w)

shghd,

In [113]:
xs = ['1', '2', '3']
s = ''.join(xs)
print(s)

123

In [195]:
#EX 133
def isSubList(largeList, smallList):
    if smallList=="":
        return True
    
    if smallList>largeList:
        return False        
    
    for i in range(len(largeList) - len(smallList) + 1):
        if largeList[i:i + len(smallList)] == smallList:
            return True 
    return False

print(isSubList([1,2,3,4,5,6,7,8,9],[2,3,4]))

print(isSubList([1,2,3,4,5],[7,3,4]))
print(isSubList([1,2,3,4,5],[2,3,8]))
print(isSubList([1,2,3,4,5],[4,5]))
print(isSubList([1,2,3,4,5],[]))
print(isSubList([1,2,3,4,5],[4]))
print(isSubList([1,2,3,4,5],[7,3,4,4,7,8,4,]))

False
False
False
False
True
False
False

In [215]:
larger=[1,2,3,4,5]
smaller=[4,9]
flag=0
for i in range(len(larger) - len(smaller) + 1):
    if larger[i:i + len(smaller)] == smaller:
        flag=1         

print(flag)

0

In [229]:
results = {"pass": 0, "fail": 3}
results['pass']=3
results['fail']=results['fail']+1
results['add']=2
results.pop('add')
print(results)

{'pass': 3, 'fail': 4}

In [231]:
for k in results:
    print(k, results[k])

pass 3
fail 4

In [249]:
counts = {}
while len(counts) < 5:
    s = input("Enter a string: ")
    if s in counts:
        counts[s] = counts[s] + 1
    else:
        counts[s] = 1
for k in counts:
    print(k, "occurred", counts[k], "times")

Enter a string:  qqq
Enter a string:  hhh
Enter a string:  ggg
Enter a string:  hhh
Enter a string:  qqq
Enter a string:  hhh
Enter a string:  h
Enter a string:  q

qqq occurred 2 times
hhh occurred 3 times
ggg occurred 1 times
h occurred 1 times
q occurred 1 times

In [411]:
#ex 145

scores={"1":('A','E','I','L','N','O','R','S','T','U'),
        "2":('D','G'),
        "3":('B','C','M','P'),
        "4":('F','H','V','W','Y'),
        "5":('K'),
        "8":('J','X'),
        "10":('Q','Z')
       }
#print(scores)
score=0
word="ABK"
for c in word:
    for i, j in scores.items():
    #print(i,obj)
        for car in j:
        #print(j)
            if car==c:
                score=score+int(i)
                #print(int(i))
print(score)

9

In [393]:
#145
def scrScore(word):
    scores={"1":('A','E','I','L','N','O','R','S','T','U'),
            "2":('D','G'),
            "3":('B','C','M','P'),
            "4":('F','H','V','W','Y'),
            "5":('K'),
            "8":('J','X'),
            "10":('Q','Z')
           }
    score=0

    for c in word:
        for i, j in scores.items():
    #print(i,obj)
            for car in j:
        #print(j)
                if car==c:
                    score=score+int(i)
    return score

scrScore("FHAD")

11

In [391]:
toto={
    "1":{
       "name":"name1",
       "toto":(11,22,33),
       "age":22,
       "grades": {
            "math":10,
            "info":11,
            "anglais":12
           }
        },

    "2":{
       "name":"name2",
       "toto":(44,55,66),
       "age":24,
       "grades": {
            "math":13,
            "info":14,
            "anglais":15
           }
      }
      
}
#for i,j in toto.items():
    #print(i,j)
    #for k,l in j.items():
        #print(k)
        
for value in toto.values():
    print(value['grades']['anglais'])       
    
for key, value in toto.items():
    print(f"{value['name']} - Anglais grade: {value['grades']['anglais']}")

12
15
name1 - Anglais grade: 12
name2 - Anglais grade: 15